.search-form {
  background-color: coral;
  padding: 10px;
}

body,
input,
button {
  font-size: 24px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mapa {
  margin: 50px;
}

.mapboxgl-canvas {
  border-radius: 10px !important;
  border: solid 1px blueviolet;
}



.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;


  }