* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.content-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5dade2;
  height: 100vh;
  
}

