* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.my-data-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8C471;
  border-radius: 5px;
  max-width: 400px;
}

.save-data {
  max-width: 150px;
  margin: 20px;
}
