* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.title-welcome {
  font-size: 30px;
  padding: 20px;
}

.title-main {
  font-size: 50px;
  font-weight: bold;
}

.contenedor {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
  text-align: center;
  align-items: center;
  gap: 30px;
  background-color: #5dade2;
  height: 100vh;
}

.location {
  height: 50px;
  min-width: 300px;
  background-color: #dc7633;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-intro {
  font-size: 20px;
}

.button-login {
  border-radius: 5px;
  height: 40px;
  background-color: #9ccc65;
  margin: 20px;
  color: black;
  width: 150px;
  cursor: pointer;
}

.button-register {
  color: black;
  width: 150px;
  border-radius: 5px;
  margin: 20px;
  height: 40px;
  background-color: #9ccc65;
  cursor: pointer;
  
}


