* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.title-find-pets {
  font-size: 40px;
}

.content-reports {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  background-color: #2ecc71;
}
.name-pet-update {
  display: block;
  font-size: 50px;
  color: darkmagenta;
  font-weight: bold;
  background-color: cadetblue;
}
.editar {
  font-size: 20px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.title-reports {
  font-size: 25px;
  color: blue;
}
.status{
  color: green;
  font-size: 20px;
}
.search-form{
  align-content: center;
}